<div class="container">
    <div class="row">
        <div class="col-sm">
             @{
             ViewData["Title"] = "Privacy Policy";
             }
            <p class="h1">@ViewData["Title"]</p>
            <p>Use this page to detail your site's privacy policy.</p>
        </div>
    </div>
</div>

